body, header{
    margin: 0;
    
}

body{
    background-color: rgb(225, 225, 225);
}


/*  Bagian Navbar */
.header{
    background-color: rgb(13, 71, 161);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 9999;
    
}

.dalam-header{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    padding-right: 60px;
}

.tombol-login{
    background-color: rgb(255, 111, 0);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    height: 50px;
    width: 100px;
}

.tulisan-header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 50px;
}

.tulisan-header h2 a {
    color: white;
    text-decoration: none;
}

.tulisan-header h2 a:visited,
.tulisan-header h2 a:active {
    color: white;
}

.tulisan-header h2 {
    position: relative;
    padding-bottom: 3px;
    cursor: pointer;
}

.tulisan-header h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s ease-in-out;
}

.tulisan-header h2:hover::after {
    width: 100%;
}

.logo{
    height: 150px;
    margin-right: auto;
    margin-left: 60px;
    margin-top: -30px;
    margin-bottom: -30px;
}
/* -------------------------------------------------- */

/* SIDEBAR */
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Jockey+One&display=swap');

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #154186;
    padding: 30px 25px;
    padding: 120px 25px 25px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar-title {
    font-family: "Jacques Francois";
    font-size: 50px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.sidebar-line {
    width: 80%;
    height: 3px;
    background: white;
    margin: 0 auto 35px auto;
    border-radius: 10px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #2A6CD4;
    padding: 14px 20px;
    border-radius: 12px;
    color: white;
    font-family: "Jockey One", sans-serif;
    font-size: 22px;
    margin-bottom: 18px;
    text-decoration: none;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
    transition: 0.2s;
}

.menu:hover {
    transform: translateX(8px);
    cursor: pointer;
}

.menu-icon {
    width: 22px;
}

.menu.active {
    background: #FF6F00;
    transform: translateX(45px);
}
/* -------------------------------------------------- */


/* Konten utama */
.main-content {
  margin-left: 300px; 
  margin-top: 130px;  
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user-container {
  background: white;
  border: 1px solid #000;
  border-radius: 10px;
  width: 1100px;
  min-height: 550px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
}

.list-title {
  font-size: 50px;
  font-family: "Jacques Francois";
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}

.user-card {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.user-img {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 40px;
  margin-left: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info p {
  margin: 5px 0;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.user-info b {
  font-size: 19px; 
}

hr {
  border: 0.5px solid #aaa;
  margin: 5px 0;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.nav-icons .icon {
  background: transparent;   
  border: none;              
  outline: none;             
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.nav-icons .icon:hover {
  transform: scale(1.15);
  opacity: 0.9;
}

.nav-icons .icon:active {
  transform: scale(0.9);
  opacity: 0.7;
}