* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.page-background {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100vw;         
    height: 100vh;        
    z-index: 0;           
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center;
    filter: blur(6px);   
    opacity: 0.35;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;          
}

.popup-container {
    width: 420px;
    background: white;
    border-radius: 22px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
}

.popup-icon img {
    width: 70px;
    margin-bottom: 15px;
}

.popup-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: #0FA21F;
    margin-bottom: 10px;
}

.popup-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

.popup-button {
    width: 100%;
    padding: 14px 0;
    background: #FF7A00;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.popup-button:hover {
    background: #e56d00;
}

